#one{
    background-color: yellow;
    font-family: 'Times New Roman', Times, serif;
    height: 80px;
    font-size: 45px;
      width: 1790px; 
    
   
}
#tommy{
    height: 540;
    width: 540;
}
